In [1]:
import numpy as np
import pandas as pd

### Series

In [2]:
data = [1,2,3,4,5]

pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Renaming the index

In [3]:
pd.Series(data, index=list('ABCDE')) # also can use index = ['a', 'b', 'c', 'd','e']

A    1
B    2
C    3
D    4
E    5
dtype: int64

### Creating series with dictionary

In [4]:
data = {'a':1, 'b':2, 'c':3}
pd.Series(data)

a    1
b    2
c    3
dtype: int64

#### Using list as index

In [5]:
brics_country = ['Brazil', 'Russia', 'India', 'China','South Africa']
brics_currency=['Real', 'Ruble', 'Rupee', 'Renminbi', 'Rand']
brics_data =pd.Series(index = brics_country, data = brics_currency)
print(brics_data)

Brazil              Real
Russia             Ruble
India              Rupee
China           Renminbi
South Africa        Rand
dtype: object

### accessing the index

In [6]:
data['c']

3

### Data frame

In [7]:
brics_country = ['Brazil', 'Russia', 'India', 'China','South Africa']
brics_currency=['Real', 'Ruble', 'Rupee', 'Renminbi', 'Rand']

In [8]:
df = pd.DataFrame(brics_country)
df

              0
0        Brazil
1        Russia
2         India
3         China
4  South Africa

### creating data frame using dictionary

In [9]:
df_dict = {
    'year':[1990, 1994, 1995, 2002],
    'winner':['germany', 'brazil', 'france', 'brazil']
}

In [10]:
df_fifa = pd.DataFrame(df_dict)
df_fifa

   year   winner
0  1990  germany
1  1994   brazil
2  1995   france
3  2002   brazil

#### Using series, we can have 'NAN' also

In [11]:
df_dict = {
    'year':pd.Series([1990, 1994, 1995]),
    'winner':pd.Series(['germany', 'brazil', 'france', 'brazil'])

}

In [12]:
df_fifa = pd.DataFrame(df_dict)
df_fifa

     year   winner
0  1990.0  germany
1  1994.0   brazil
2  1995.0   france
3     NaN   brazil

### Using tuples

In [13]:
dic_lotuple = [(2002, 'japan', 'brazil'),
              (2005, 'Germany', 'Italy')]
df_dict = pd.DataFrame(dic_lotuple, columns=["year", "Country", "hosted"])
df_dict

   year  Country  hosted
0  2002    japan  brazil
1  2005  Germany   Italy

### Renaming index

In [14]:
df = pd.DataFrame(brics_country, index = list('abcde'))
df

              0
a        Brazil
b        Russia
c         India
d         China
e  South Africa

### creating column name

In [15]:
df = pd.DataFrame(brics_country, columns=['Country'])
df

        Country
0        Brazil
1        Russia
2         India
3         China
4  South Africa

### Renaming the column name

In [16]:
df.rename(columns={'Country': 'Countries'})

      Countries
0        Brazil
1        Russia
2         India
3         China
4  South Africa

In [17]:
# by assigning the above code to 'df', it will change the col name in the original data frame
print('after assigning to df')
df = df.rename(columns={'Country': 'Countries'})
df

after assigning to df

      Countries
0        Brazil
1        Russia
2         India
3         China
4  South Africa

### Concatenating two columns
- First convert the column to data frame
- Then use either concat or join method to combine the column.
- Note: always convert the data to data fram and then combine.

In [18]:
brics_country = ['Brazil', 'Russia', 'India', 'China','South Africa']
brics_currency=['Real', 'Ruble', 'Rupee', 'Renminbi', 'Rand']

country_df = pd.DataFrame(brics_country, columns=['Country'])
currency_df = pd.DataFrame(brics_currency, columns=['Currency'])

In [19]:
country_df

        Country
0        Brazil
1        Russia
2         India
3         China
4  South Africa

In [20]:
currency_df

   Currency
0      Real
1     Ruble
2     Rupee
3  Renminbi
4      Rand

#### Using the concat() method.

In [21]:
concat_df = pd.concat([country_df,currency_df], join='outer', axis = 1 )
concat_df

        Country  Currency
0        Brazil      Real
1        Russia     Ruble
2         India     Rupee
3         China  Renminbi
4  South Africa      Rand

#### Using the .join() method.

In [22]:
# creating 2 DataFrames
brics_country = ['Brazil', 'Russia', 'India', 'China','South Africa']
brics_currency=['Real', 'Ruble', 'Rupee', 'Renminbi', 'Rand']

country_df = pd.DataFrame(brics_country, columns=['Country'])
currency_df = pd.DataFrame(brics_currency, columns=['Currency'])
  
# concatenating the DataFrames
dt = country_df.join(currency_df)
dt

        Country  Currency
0        Brazil      Real
1        Russia     Ruble
2         India     Rupee
3         China  Renminbi
4  South Africa      Rand

### Reading CSV file

In [23]:
df = pd.read_csv('top50.csv', encoding = 'latin-1')

In [24]:
#Top 5 column
df.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [25]:
#bottom 5 column
df.tail()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88
46,47,Te Robaré,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82

In [26]:
# Shape of data frame
df.shape

(50, 14)

In [27]:
#tuple unpacking:
a, b = df.shape
print(a)
print(b)

50
14

In [28]:
#Describe - gives stastical information of numerical data
df.describe()

,Unnamed: 0,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
count,50.00000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,25.50000,120.060000,64.060000,71.38000,-5.660000,14.660000,54.600000,200.960000,22.160000,12.480000,87.500000
std,14.57738,30.898392,14.231913,11.92988,2.056448,11.118306,22.336024,39.143879,18.995553,11.161596,4.491489
min,1.00000,85.000000,32.000000,29.00000,-11.000000,5.000000,10.000000,115.000000,1.000000,3.000000,70.000000
25%,13.25000,96.000000,55.250000,67.00000,-6.750000,8.000000,38.250000,176.750000,8.250000,5.000000,86.000000
50%,25.50000,104.500000,66.500000,73.50000,-6.000000,11.000000,55.500000,198.000000,15.000000,7.000000,88.000000
75%,37.75000,137.500000,74.750000,79.75000,-4.000000,15.750000,69.500000,217.500000,33.750000,15.000000,90.750000
max,50.00000,190.000000,88.000000,90.00000,-2.000000,58.000000,95.000000,309.000000,75.000000,46.000000,95.000000

In [29]:
df.describe(include='all')

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
count,50.00000,50,50,50,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
unique,NaN,50,38,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,bad guy,Ed Sheeran,dance pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,4,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,25.50000,NaN,NaN,NaN,120.060000,64.060000,71.38000,-5.660000,14.660000,54.600000,200.960000,22.160000,12.480000,87.500000
std,14.57738,NaN,NaN,NaN,30.898392,14.231913,11.92988,2.056448,11.118306,22.336024,39.143879,18.995553,11.161596,4.491489
min,1.00000,NaN,NaN,NaN,85.000000,32.000000,29.00000,-11.000000,5.000000,10.000000,115.000000,1.000000,3.000000,70.000000
25%,13.25000,NaN,NaN,NaN,96.000000,55.250000,67.00000,-6.750000,8.000000,38.250000,176.750000,8.250000,5.000000,86.000000
50%,25.50000,NaN,NaN,NaN,104.500000,66.500000,73.50000,-6.000000,11.000000,55.500000,198.000000,15.000000,7.000000,88.000000
75%,37.75000,NaN,NaN,NaN,137.500000,74.750000,79.75000,-4.000000,15.750000,69.500000,217.500000,33.750000,15.000000,90.750000
max,50.00000,NaN,NaN,NaN,190.000000,88.000000,90.00000,-2.000000,58.000000,95.000000,309.000000,75.000000,46.000000,95.000000

#### To find max value in all the column
- for string it takes max length

In [30]:
df.max()

Unnamed: 0                                                         50
Track.Name          fuck, i'm lonely (with Anne-Marie) - from 13 ...
Artist.Name                                                Young Thug
Genre                                                      trap music
Beats.Per.Minute                                                  190
Energy                                                             88
Danceability                                                       90
Loudness..dB..                                                     -2
Liveness                                                           58
Valence.                                                           95
Length.                                                           309
Acousticness..                                                     75
Speechiness.                                                       46
Popularity                                                         95
dtype: object

#### To find max value in particular the numerical column

In [31]:
df['Length.'].max()

309

In [32]:
#or
df.max()['Length.']

309

Similalry for  min()

In [33]:
#Info - gives information of null values, data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50 non-null     int64
 1   Track.Name        50 non-null     object
 2   Artist.Name       50 non-null     object
 3   Genre             50 non-null     object
 4   Beats.Per.Minute  50 non-null     int64
 5   Energy            50 non-null     int64
 6   Danceability      50 non-null     int64
 7   Loudness..dB..    50 non-null     int64
 8   Liveness          50 non-null     int64
 9   Valence.          50 non-null     int64
 10  Length.           50 non-null     int64
 11  Acousticness..    50 non-null     int64
 12  Speechiness.      50 non-null     int64
 13  Popularity        50 non-null     int64
dtypes: int64(11), object(3)
memory usage: 5.6+ KB

In [34]:
df[['Track.Name','Beats.Per.Minute']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track.Name        50 non-null     object
 1   Beats.Per.Minute  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [35]:
print(df.mean())

Unnamed: 0           25.50
Beats.Per.Minute    120.06
Energy               64.06
Danceability         71.38
Loudness..dB..       -5.66
Liveness             14.66
Valence.             54.60
Length.             200.96
Acousticness..       22.16
Speechiness.         12.48
Popularity           87.50
dtype: float64

In [36]:
print(df.median())

Unnamed: 0           25.5
Beats.Per.Minute    104.5
Energy               66.5
Danceability         73.5
Loudness..dB..       -6.0
Liveness             11.0
Valence.             55.5
Length.             198.0
Acousticness..       15.0
Speechiness.          7.0
Popularity           88.0
dtype: float64

### Sorting the values

In [37]:
df.sort_values('Length.', ascending = False)

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87
23,24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
15,16,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93
16,17,LA CANCIÓN,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90
40,41,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88
36,37,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89
29,30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88
27,28,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89
26,27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
46,47,Te Robaré,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88
33,34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89
39,40,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88
38,39,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94
19,20,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90
35,36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87
44,45,Con Altura,ROSALÍA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87
20,21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91

### To find null

In [38]:
#to findout the null in data frame

#method 1
df.isnull().sum()

Unnamed: 0          0
Track.Name          0
Artist.Name         0
Genre               0
Beats.Per.Minute    0
Energy              0
Danceability        0
Loudness..dB..      0
Liveness            0
Valence.            0
Length.             0
Acousticness..      0
Speechiness.        0
Popularity          0
dtype: int64

In [39]:
#method 2 - representing the missing values in terms of % using data frame.
s = round(df.isnull().sum()/df.shape[0]*100, 3)
df_missing = pd.DataFrame(s, columns=['per_missing']).sort_values('per_missing', ascending = False)
df_missing

                  per_missing
Unnamed: 0                0.0
Track.Name                0.0
Artist.Name               0.0
Genre                     0.0
Beats.Per.Minute          0.0
Energy                    0.0
Danceability              0.0
Loudness..dB..            0.0
Liveness                  0.0
Valence.                  0.0
Length.                   0.0
Acousticness..            0.0
Speechiness.              0.0
Popularity                0.0

In [40]:
#To findout if a particular column is null

df.Genre.isnull().sum(0)

0

In [41]:
df[df.Genre.isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Track.Name, Artist.Name, Genre, Beats.Per.Minute, Energy, Danceability, Loudness..dB.., Liveness, Valence., Length., Acousticness.., Speechiness., Popularity]
Index: []

### To know the columns name

In [42]:
df.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity'],
      dtype='object')

### Filtering/ Slicing column

#### Selecting only numerical column:

In [43]:
df_num = df.select_dtypes(include = [np.number])
df_num.head(4)

,Unnamed: 0,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,117,55,76,-6,8,75,191,4,3,79
1,2,105,81,79,-4,8,61,302,8,9,92
2,3,190,80,40,-4,16,70,186,12,46,85
3,4,93,65,64,-8,8,55,198,12,19,86

#### Selecting only categorical column

In [44]:
df_cat = df.select_dtypes(include=[np.object])
df_cat.head(4)

                        Track.Name    Artist.Name           Genre
0                         Señorita   Shawn Mendes    canadian pop
1                            China       Anuel AA  reggaeton flow
2    boyfriend (with Social House)  Ariana Grande       dance pop
3  Beautiful People (feat. Khalid)     Ed Sheeran             pop

#### To select single column

In [45]:
df['Energy'].head()   #head is optional

0    55
1    81
2    80
3    65
4    65
Name: Energy, dtype: int64

#### To select multiple column

In [46]:
df[['Track.Name','Artist.Name', 'Genre']].head()

                        Track.Name    Artist.Name           Genre
0                         Señorita   Shawn Mendes    canadian pop
1                            China       Anuel AA  reggaeton flow
2    boyfriend (with Social House)  Ariana Grande       dance pop
3  Beautiful People (feat. Khalid)     Ed Sheeran             pop
4      Goodbyes (Feat. Young Thug)    Post Malone         dfw rap

In [47]:
df['Energy']>65

0     False
1      True
2      True
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10    False
11     True
12    False
13     True
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22     True
23     True
24    False
25     True
26    False
27    False
28     True
29     True
30    False
31    False
32     True
33    False
34     True
35     True
36     True
37     True
38     True
39    False
40     True
41     True
42    False
43    False
44     True
45    False
46     True
47     True
48     True
49     True
Name: Energy, dtype: bool

In [48]:
df[df['Energy']>65].head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86

In [49]:
df[df['Genre'] == 'pop'].head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87

In [50]:
df.loc[df['Genre'] == 'pop', ['Track.Name', 'Track.Name', 'Genre']]

,Track.Name,Track.Name,Genre
3,Beautiful People (feat. Khalid),Beautiful People (feat. Khalid),pop
5,I Don't Care (with Justin Bieber),I Don't Care (with Justin Bieber),pop
7,How Do You Sleep?,How Do You Sleep?,pop
12,Someone You Loved,Someone You Loved,pop
37,Antisocial (with Travis Scott),Antisocial (with Travis Scott),pop
43,Talk,Talk,pop
49,Cross Me (feat. Chance the Rapper & PnB Rock),Cross Me (feat. Chance the Rapper & PnB Rock),pop

In [51]:
df.loc[df['Energy']>65].head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86

In [52]:
df.loc[df['Energy']>65, ['Track.Name', 'Track.Name', 'Energy']].head()

,Track.Name,Track.Name,Energy
1,China,China,81
2,boyfriend (with Social House),boyfriend (with Social House),80
5,I Don't Care (with Justin Bieber),I Don't Care (with Justin Bieber),68
7,How Do You Sleep?,How Do You Sleep?,68
11,Loco Contigo (feat. J. Balvin & Tyga),Loco Contigo (feat. J. Balvin & Tyga),71

In [53]:
df.loc[(df['Energy']>65) & (df['Genre']=='pop')].head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82

### Slcing Row

In [54]:
df[3:5]  #3rd, 4th row

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

### To find duplicate

In [55]:
df[df.duplicated(subset=['Genre','Artist.Name'])].head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70

### Creating new column

Syntax :
df['col_name'] = <value>
df['col_name'] =[v1, v2,v3]

In [56]:
df['track_name_length'] = df['Track.Name'].apply(lambda x: len(x))

In [57]:
df

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,track_name_length
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,8
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,29
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,31
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,27
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84,33
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92,6
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90,17
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87,21
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95,7
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93,8
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86,37
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88,17
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87,18
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92,40
15,16,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82,25
16,17,LA CANCIÓN,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90,10
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91,45
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88,6
19,20,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91,11
20,21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91,19
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91,6
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83,20
23,24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91,15
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89,28
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70,19
26,27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83,12
27,28,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89,8
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91,9
29,30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89,13
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84,8
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,7
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,17
33,34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89,41
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89,17
35,36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89,62
36,37,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91,10
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,30
38,39,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80,6
39,40,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78,68
40,41,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88,11
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90,21
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87,7
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84,4
44,45,Con Altura,ROSALÍA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88,10
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88,15
46,47,Te Robaré,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88,9
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88,7
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,13
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82,45

### Reanaming column

In [58]:
df = df.rename(columns={'track_name_length' : 'Track_name_length'})

In [59]:
df

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Track_name_length
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,8
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,29
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,31
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,27
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84,33
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92,6
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90,17
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87,21
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95,7
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93,8
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86,37
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88,17
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87,18
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92,40
15,16,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82,25
16,17,LA CANCIÓN,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90,10
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91,45
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88,6
19,20,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91,11
20,21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91,19
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91,6
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83,20
23,24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91,15
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89,28
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70,19
26,27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83,12
27,28,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89,8
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91,9
29,30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89,13
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84,8
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,7
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,17
33,34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89,41
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89,17
35,36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89,62
36,37,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91,10
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,30
38,39,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80,6
39,40,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78,68
40,41,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88,11
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90,21
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87,7
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84,4
44,45,Con Altura,ROSALÍA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88,10
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88,15
46,47,Te Robaré,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88,9
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88,7
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,13
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82,45

### Group by

In [60]:
df.groupby('Genre')[['Length.']].mean().head(4)

                Length.
Genre
atl hip hop       200.0
australian pop    210.0
big room          164.0
boy band          181.0

In [61]:
df.groupby('Genre')[['Length.']].count().head(4)

                Length.
Genre
atl hip hop           1
australian pop        1
big room              1
boy band              1

In [62]:
df.groupby('Genre')[['Length.']].max().head(4)

                Length.
Genre
atl hip hop         200
australian pop      210
big room            164
boy band            181

In [63]:
df.groupby('Genre')[['Length.']].min().head(4)

                Length.
Genre
atl hip hop         200
australian pop      210
big room            164
boy band            181

### Dropping column

In [64]:
df = df.drop('Track_name_length',axis = 1)

In [65]:
df

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94
5,6,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84
6,7,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92
7,8,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90
8,9,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87
9,10,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95
10,11,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93
11,12,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86
12,13,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88
13,14,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87
14,15,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92
15,16,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82
16,17,LA CANCIÓN,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90
17,18,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91
18,19,Lalala,Y2K,canadian hip hop,130,39,84,-8,14,50,161,18,8,88
19,20,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91
20,21,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91
21,22,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91
22,23,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83
23,24,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91
24,25,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,89
25,26,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70
26,27,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83
27,28,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89
28,29,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91
29,30,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89
30,31,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89
33,34,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89
34,35,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89
35,36,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89
36,37,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87
38,39,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80
39,40,"fuck, i'm lonely (with Anne-Marie) - from 13 ...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78
40,41,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88
41,42,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90
42,43,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87
43,44,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84
44,45,Con Altura,ROSALÍA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88
45,46,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88
46,47,Te Robaré,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88
47,48,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,88
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88
49,50,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82

### Date time

In [66]:
date_time = pd.date_range('1/6/2020 01:00:00', periods=6, freq='W')

In [67]:
df1 = pd.DataFrame(date_time, columns=['date'])
df1

                 date
0 2020-01-12 01:00:00
1 2020-01-19 01:00:00
2 2020-01-26 01:00:00
3 2020-02-02 01:00:00
4 2020-02-09 01:00:00
5 2020-02-16 01:00:00

#### Converting to Date

In [68]:
pd.to_datetime(df1.date)

0   2020-01-12 01:00:00
1   2020-01-19 01:00:00
2   2020-01-26 01:00:00
3   2020-02-02 01:00:00
4   2020-02-09 01:00:00
5   2020-02-16 01:00:00
Name: date, dtype: datetime64[ns]

In [69]:
df1['year'] = df1['date'].dt.year
df1['year']

0    2020
1    2020
2    2020
3    2020
4    2020
5    2020
Name: year, dtype: int64

In [70]:
df1['month'] = df1['date'].dt.month
df1['month']

0    1
1    1
2    1
3    2
4    2
5    2
Name: month, dtype: int64

In [71]:
df1['day'] = df1['date'].dt.day
df1['day']

0    12
1    19
2    26
3     2
4     9
5    16
Name: day, dtype: int64

In [72]:
df1['hour'] = df1['date'].dt.hour
df1['hour']

0    1
1    1
2    1
3    1
4    1
5    1
Name: hour, dtype: int64

In [73]:
df1

                 date  year  month  day  hour
0 2020-01-12 01:00:00  2020      1   12     1
1 2020-01-19 01:00:00  2020      1   19     1
2 2020-01-26 01:00:00  2020      1   26     1
3 2020-02-02 01:00:00  2020      2    2     1
4 2020-02-09 01:00:00  2020      2    9     1
5 2020-02-16 01:00:00  2020      2   16     1

Also check
- Pandas DataFrame property: at
- Pandas DataFrame property: iat

### Merge

- Inner (default)
- outer
- right
- left

In [74]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [75]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [76]:
pd.merge(df1, df2, on = 'city', how ='left')

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           38       NaN

In [77]:
pd.merge(df1, df2, on = 'city', how ='right')

        city  temperature  humidity
0    chicago         14.0        65
1   new york         21.0        68
2  san diego          NaN        71

In [78]:
pd.merge(df1, df2, on = 'city', how ='outer')

        city  temperature  humidity
0   new york         21.0      68.0
1    chicago         14.0      65.0
2    orlando         35.0       NaN
3  baltimore         38.0       NaN
4  san diego          NaN      71.0

In [79]:
pd.merge(df1, df2, on = 'city', )

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [80]:
# indicator flag
df3 = pd.merge(df1, df2, on = 'city',how = 'outer', indicator=True)
df3

        city  temperature  humidity      _merge
0   new york         21.0      68.0        both
1    chicago         14.0      65.0        both
2    orlando         35.0       NaN   left_only
3  baltimore         38.0       NaN   left_only
4  san diego          NaN      71.0  right_only

In [81]:
df3 = pd.merge(df1, df2, on = 'city',how = 'outer', indicator=True, suffixes=('_first' , '_second'))
df3

        city  temperature  humidity      _merge
0   new york         21.0      68.0        both
1    chicago         14.0      65.0        both
2    orlando         35.0       NaN   left_only
3  baltimore         38.0       NaN   left_only
4  san diego          NaN      71.0  right_only

### Pivot

In [82]:
df = pd.read_csv('weather.csv')
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [83]:
df.pivot(index = 'date', columns='city')

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          80     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

In [84]:
df.pivot(index = 'city', columns='date')

         temperature                   humidity
date        5/1/2017 5/2/2017 5/3/2017 5/1/2017 5/2/2017 5/3/2017
city
beijing           80       77       79       26       30       35
mumbai            75       78       82       80       83       85
new york          65       66       68       56       58       60

In [85]:
#To show only temperature
df.pivot(index = 'city', columns='date', values ='temperature')

date      5/1/2017  5/2/2017  5/3/2017
city
beijing         80        77        79
mumbai          75        78        82
new york        65        66        68

### Pivot table
- used to sumerise and aggregare data inside the dataframe
- i.e. if we have same value in a colum it takes aggregate and prints.

In [86]:
df.pivot_table(index ='city', columns='date', aggfunc ='sum')

         humidity                   temperature
date     5/1/2017 5/2/2017 5/3/2017    5/1/2017 5/2/2017 5/3/2017
city
beijing        26       30       35          80       77       79
mumbai         80       83       85          75       78       82
new york       56       58       60          65       66       68

### Splitting the single column into two (first and last name)

In [87]:
df_name = pd.DataFrame({'Name': ['Steve Smith', 'Joe Nadal','Roger Federer'],
                        'Age':[32, 34, 36]})
df_name

            Name  Age
0    Steve Smith   32
1      Joe Nadal   34
2  Roger Federer   36

In [88]:
df_name[['First','Last']] = df_name['Name'].str.split(" ", expand = True)
df_name

            Name  Age  First     Last
0    Steve Smith   32  Steve    Smith
1      Joe Nadal   34    Joe    Nadal
2  Roger Federer   36  Roger  Federer